/* HOME PAGE */
#home{
    background-image: url("../image/home.png"), url("../image/page.png");
    background-color: rgb(0,0,0);
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.block{
    display: block;
    width: 900px;
    margin: auto;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    margin-top: -20px;
    z-index: 3;
}
.navbar-custom .navbar-brand{
    color: #EE4B2B;
}

.navbar-custom .dropdown-item{
    color: darkgray;
}
/* main title */
.title > span{
    background: linear-gradient(50deg,rgb(255,40,20), rgb(255,140,0) 50%, red);
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px black;
    background-clip: text;
}
.title{
    text-align: center;
    color: transparent;
}
.header img {
    position: inherit;
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    padding-top: 20px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.welcome{
    margin-top: 65%;
}
h3{
    text-align: center;
}
.main{
    margin: 20px;
    padding: 5px;
}


/*----------------------horsemen--------------------------------*/
.name{
    color: white;
}

.death > .horse{
    background: linear-gradient(70deg, rgb(0, 0, 231), rgb(129,129,129), rgba(119, 99, 99, 0.726)30%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(158, 98, 82, 0.342);
    background-clip: text;
}
.death, .con, .fam, .war, .lead{
    color: transparent;
}
.war > .horse{
    background: linear-gradient(70deg, rgb(136, 8, 8), rgb(246,80,38) 40%,  rgb(136, 8, 8));
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(175, 44, 77, 0.678);
    background-clip: text;
}

.con > span{
    background: linear-gradient(70deg, rgb(143,0,255), rgb(255,223,0) 50%,   rgb(143,0,255));
    -webkit-background-clip: text;
    background-clip: text;
}

.fam > .horse{
    background: linear-gradient(70deg, rgb(18,53,36), rgb(0,255,0) ,  rgba(100, 158, 130, 0.719) 90%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(100, 105, 86, 0.678);
    background-clip: text;
}
.lead > span{
    background: linear-gradient(70deg, blueviolet, skyblue, rgb(85,0,0) );
    -webkit-background-clip: text;
    background-clip: text;
}
/*-----------------Rules Page--------------------------*/

.rules{
    background-image: url("../image/page.png");
    background-size: auto 96%;
    background-repeat: repeat-y;
    background-position: left;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.text{
    margin: 20px;
}
h3{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: yellow;
}


ul.dashed {
    list-style-type: none;
  }
ul.dashed > li.dash {
    text-indent: -5px;
  }
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }
.link{
    text-align: center;
}

/* events tab */

.events{
    background-image: url("../image/page.png");
    background-size: auto 70%;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*contest*/
.contest{
    background-image: url("../image/page.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Gallery images for Contest*/
.contest_name{
    color: rgba(235, 226, 226, 0.548);
}
div.gallery {
    margin: 10px 5px;
    border: 1px solid rgba(235, 226, 226, 0.548);
    float: left;
    width: 180px;
    
  }
  
  div.gallery:hover {
    border: 1px solid rgb(255,140,0);
  }
  
  div.gallery img {
    width: 100%;
    height: 110px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: small;
  }
  div.gallery a{
    color:  rgb(182, 11, 11);
  }
  div.gallery a:hover{
color: rgb(255,140,0);
  }

  
/*Horsemen:Death*/
#death{
    /* background-image: url(""); */
    background-color:black;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#war{
    /* background-image: url(""); */
    background-color: black;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#conquest{
    /* background-image: url(""); */
    background-color: black;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#famine{
    /* background-image: url(""); */
    background-color: black;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position: center top;
    color: white;
    padding: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* bigger devices (example: laptop) */
@media screen and (max-width: 768px) {
    .block{
        width: 60vw;
    }
    #home{
        background-image: url("../image/page.png");
        background-size: 140% 100%;
        font-size: 2vw;
    }
    h1{
        font-size: 3vw;
    }
    h3, h5{
        font-size: 2.8vw;
    }
    .welcome{
        margin-top: 20%;
    }
    .title > span{
        background: linear-gradient(50deg,rgb(255,40,20), rgb(255,140,0) 50%, red);
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px black;
        background-clip: text;
    }
    .header img {
        position: inherit;
        width: 3vw;
        height: auto;
        background: transparent;
      }
      p { 
        transition: width 0.4s ease-in-out;
        width: 50vw; 
      }
}
